body{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
  }

  *{
    box-sizing: border-box;
  }
.text0{
    text-align: center;
}
.logo{
    border:0px solid black;
   padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    font-size: medium;
}
.text1{
    border: 0px solid black;
    text-align: center;
   
}
.text2{
    border: 0px solid black;
    text-align: center;
    
}
.naglowki{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:0px solid black;
    padding-bottom: 10px;

}
.opisy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid black;
    padding-bottom: 10px;

}

.article{
    border: 0px solid black;
   padding-top: 50px;
   padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article3{
   padding-top: 50px;
   padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


@media only screen and (max-width: 740px){
    .grid{
        display: flex;
        flex-direction: column;}
}